@using System.Net.Mime
@using Kinde.Api.Models.Configuration
<MudAppBar Color="Color.Dark">
    <div >
        <!-- <MudIconButton class="pa-4" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"></MudIconButton>!-->
        <MudLink class="pa-4" Color="Color.Inherit" Href="/"><MudIcon Icon="@Icons.Material.Filled.Home"/>Home</MudLink>
        <MudLink class="pa-4" Color="Color.Inherit" Href="/cybersec"> <MudIcon Icon="@Icons.Material.Filled.Fingerprint"/>CyberSec</MudLink>
        <MudLink class="pa-4" Color="Color.Inherit" Href="/labs"> <MudIcon Icon="@Icons.Material.Filled.Code"/>Labs</MudLink>
        <MudLink class="pa-4" Color="Color.Inherit" Href="/whoami"><MudIcon Icon="@Icons.Material.Filled.Terminal"/>WhoAmI</MudLink>
        <MudLink class="pa-4"  Color="Color.Inherit" Href="/technologiesbehind"> <MudIcon Icon="@Icons.Material.Filled.Handyman"/> Behind The Scenes</MudLink>
        <MudText>
        </MudText>
    </div>
</MudAppBar>
@code
{
 
}
