<MudAppBar>
    <div >
       <!-- <MudIconButton class="pa-4" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"></MudIconButton>!-->
        <MudLink class="pa-4" Href="/"><MudIcon Icon="@Icons.Material.Filled.Home"/>Home</MudLink>
        <MudLink Color="Color.Secondary" class="pa-4" Href="/cybersec"> <MudIcon Icon="@Icons.Material.Filled.Fingerprint"/>CyberSec</MudLink>
        <MudLink Color="Color.Secondary" class="pa-4" Href="/cv"> <MudIcon Icon="@Icons.Material.Filled.Work"/>CV</MudLink>
        <MudLink Color="Color.Secondary" class="pa-4" Href="/whoami"><MudIcon Icon="@Icons.Material.Filled.Terminal"/>WhoAmI</MudLink>
        <MudLink Color="Color.Secondary" class="pa-4" Href="/technologiesbehind"> <MudIcon Icon="@Icons.Material.Filled.Handyman"/> Behind The Scenes</MudLink>
    </div>
</MudAppBar>