@page "/cybersec"
@using QuickType
@using Cve = BlazorApp1.models.gen.Cve
@using BlazorApp1.Pages.Component
@inject IHttpClientFactory ClientFactory

<body>
<h3>CyberSec</h3>
security is such cool
<!-- TODO: event Timeline for CVE -->

<MudPaper Elevation="0" Square="true">
    <MudText>CVE severity </MudText>
    <MudAlert Severity="Severity.Info">Please note: i am working on my own CVE search, and i as i have not figured it quite out right now, you will se a error, this due to a gigantic object that i hope to fix soon!</MudAlert>
    <MudText> API LAST LOADED: @cve.Timestamp</MudText>
    <SearchBar/>
</MudPaper>
<MudPaper>
    @if (err || vuln is null) //checks the error variable 
    {
        <MudAlert Severity="Severity.Error"> error loading the external API, please let the creator know</MudAlert>
    }
    else
    {
 
   
        <MudList T="Cve">
            @foreach (var feed in vuln)
            {
                
                <MudListItem><MudPaper>
                    <MudText>@feed.Cve.Id</MudText>
                    <MudText>@feed.Cve.Published</MudText>
                    <MudText>@feed.Cve.SourceIdentifier</MudText>
                    <MudText>@feed.Cve.Descriptions.First().Value</MudText>
                </MudPaper></MudListItem>
            }
        </MudList>
    }
</MudPaper>
</body>
@code {

    //add api calls to this 
    public JsonSchema? cve = new JsonSchema();
    public List<Vulnerability> vuln = [];
    bool err = false;
    public DateTime today = DateTime.Today;
    string search;
    public string timeFormat = "yyyy-MM-ddTHH:mm:ssZ"; 
    protected override async Task OnInitializedAsync()
    {
        string todayinAmerican = today.ToString(timeFormat);
        var hundrethirtydays = today.Add(new TimeSpan(90, 0, 0, 0));
        string hnrdthirtydaysagoformatted = hundrethirtydays.ToString(timeFormat);
        string url = $"https://services.nvd.nist.gov/rest/json/cves/2.0/?resultsPerPage=25&pubStartDate={todayinAmerican}&pubEndDate={hnrdthirtydaysagoformatted}"; 
        var req = new HttpRequestMessage(HttpMethod.Get, url);
        Console.WriteLine(req.RequestUri);
        req.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var res = await client.SendAsync(req);
        if (res.IsSuccessStatusCode)
        {

            var responseStream = await res.Content.ReadAsStreamAsync();
            var json = await res.Content.ReadFromJsonAsync<JsonSchema>();
            cve = json;
            Console.WriteLine(responseStream);
            Console.WriteLine($"Getting timestamps from THE NIST CV API AT THE DATE:  {cve.Timestamp}");
            if (cve.Vulnerabilities != null) //checks if the list is empty
            {
                vuln = cve.Vulnerabilities.ToList();
            }
            else
            {
                Console.WriteLine("the list i empty");
                vuln = new List<Vulnerability>();
            }
        }
        else
        {
            err = true; //error confirms, render a error message for the end user
        }

    }

    public async Task Search()
    {
        string todayinAmerican = today.ToString(timeFormat);
        var hundrethirtydays = today.Add(new TimeSpan(90, 0, 0, 0));
        string hnrdthirtydaysagoformatted = hundrethirtydays.ToString(timeFormat);
        string url = $"https://services.nvd.nist.gov/rest/json/cves/2.0/?resultsPerPage=25&pubStartDate={todayinAmerican}&pubEndDate={hnrdthirtydaysagoformatted}&keywordSearch={search}"; 
        var req = new HttpRequestMessage(HttpMethod.Get, url);
        req.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var res = await client.SendAsync(req);
        if (res.IsSuccessStatusCode)
        {

            var responseStream = await res.Content.ReadAsStreamAsync();
            var json = await res.Content.ReadFromJsonAsync<JsonSchema>();
            cve = json;
            Console.WriteLine(responseStream);
            Console.WriteLine(cve.Timestamp.ToString());
            Console.WriteLine(cve.Vulnerabilities.ToString());
            Console.WriteLine($"OK babaush {cve.Vulnerabilities}");
            if (cve.Vulnerabilities != null)
            {
                vuln = cve.Vulnerabilities.ToList();
            }
            else
            {
                Console.WriteLine("the list i empty");
                vuln = new List<Vulnerability>();
            }
        }
        else
        {
            err = true;
        }
    }

}
}