@page "/whoami"


<MudPaper MaxWidth="225px"><MudText Typo="Typo.h3" class="intro">$ whoami</MudText></MudPaper>

<MudGrid Justify="Justify.FlexStart" Spacing="4">
    <!--4 1 3 4-->
    <MudItem xs="3">
        <!-- epic qoute!-->
        <MudPaper Elevation="0" Square="true">
            <MudText Typo="Typo.h4">A place a little south, and some west of Oslo</MudText>
        </MudPaper>
        <MudPaper Elevation="0" Square="true">
            <MudText Typo="Typo.body1">There was a guy, me! My name is Jon Petter Wiig (call me Jon Petter or Petter, NOT only Jon). I am a 23 years old fullstack developer that enjoys a new challenge everywhere. I like to say that i am as versatile as the potato. I can do almost everything with enough time and resources. I like to work out, engage in voluntary work. To interact with both professional in the IT field, and to learn even more about development and other adventures about the IT world. I can also be found at places like hackeriet or at OsloMet from time to time</MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="4">
        <!-- a image of me !-->
        <MudImage Src="/pictures/profilproff-cropped.jpeg" Alt="Picture of me during standing by a poster" Class="rounded-lg" Width="600"/>
    </MudItem>
    <MudItem xs="3">
        <!-- Bagdes and fun-->
        <MudText Typo="Typo.h4">Bagdes from different places</MudText>
        <!-- from: https://github.com/Maritims/norsk-programmering-badge -->
        <norsk-programmering-badge></norsk-programmering-badge>
    </MudItem>
    <MudItem xs="4">
        <!-- Links !-->
        <MudText Typo="Typo.h4">Where you can find me: </MudText>
        <MudList T="string">
            <MudListItem Href="https://www.linkedin.com/in/jonpetterwiig/" Target="_blank"><MudIcon Icon="@Icons.Custom.Brands.LinkedIn"/>LinkedIn</MudListItem> 
            <MudListItem Href="https://github.com/jpwiig" Target="_blank"><MudIcon Icon="@Icons.Custom.Brands.GitHub"/>GitHub</MudListItem>
            <MudListItem Href="https://www.instagram.com/jpwiig/" Target="_blank"><MudIcon Icon="@Icons.Custom.Brands.Instagram" />Instagram</MudListItem>
            <MudListItem Href="https://bsky.app/profile/jpwiig.dev" Target="_blank"><MudIcon Icon="fa-brands fa-bluesky"/>Bluesky</MudListItem>
            <MudListItem Href="https://www.twitch.tv/wiigen" Target="_blank"><MudIcon Icon="fa-brands fa-twitch"/>Twitch</MudListItem>
        </MudList>
    </MudItem>
    <MudItem xs="4">
        <!-- what i want to do !-->
        <MudText Typo="Typo.h4">Current Tech stack:</MudText>
        <MudList T="string">
            <MudListItem><MudIcon Icon="@Icons.Custom.Brands.Linux"/>Current OS: Debian 13 trixie</MudListItem>
            <MudListItem><MudIcon Icon="@Icons.Material.Outlined.Code"/>Programming languages: Java, javascript, C++, C#, Bash, Python</MudListItem>
            <MudListItem><MudIcon Icon="@Icons.Material.Outlined.DeveloperMode"/>Web Framework: Blazor, Spring boot, jquery, react</MudListItem>
            <MudListItem><MudIcon Icon="@Icons.Material.Outlined.Security"/>Cyber Security Tools: Kali linux, Metasploit, Burpsuite</MudListItem>
        </MudList>
    </MudItem>
    <MudItem xs="4">
        <MudText Typo="Typo.h4"> sites</MudText>
    </MudItem>
</MudGrid>
<MudItem>
    <!-- Ways to reach out!-->
    <MudText Typo="Typo.body2">Any questions? Reach out!</MudText>
    <MudText Typo="Typo.body2"><a href="mailto:echo@jpwiig.dev">echo@jpwiig.dev</a></MudText>

</MudItem>
<script src="js/norsk-programmering-badge.js"></script>
@code { private const string jpwiig = "@jpwiig";
    //todo: whoami animation, terminal inspired
    //todo Maps and shit
}